
body{
max-width: 1115px;
margin: 30px auto 30px;
background-color: #fff;
}

.section{
    background-color: #000000;
}

a{
    color: inherit;
    text-decoration: none;
}

.nav-list-item{
    color: #FFFFFF;
}

img{
max-width: 100%;
}

ul{
    list-style-type: none;
    padding-inline-start: 0;
}

.nav-list,.nav-item-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list-item{
    display: flex;
    gap: 20px; 
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
    padding-left: 52px;
}

.logo {
    height: 40px; 
    margin: 20px 85px;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.poisk-a {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin: 20px 85px;
}

 .home-img {
    position: relative;
}

.poisk-a{
    display: flex;
}

.home-img img {
    width: 100%;
    display: block;
}

.section-div {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 50px 45px;
    color: white;
}

.limited-text-h1{
    max-width: 579px;
    width: 100%;
    font-size: 56px;
    margin: 1px 0px 20px 0px;
    line-height: 47px;
}

.limited-text {
    max-width: 430px ;
    width: 100%;
    font-size: 16px;
    margin: 20px 0px 72px 0px;
}

.home-link{
    max-width: 178px;
    background-color: #9D5CD0;
    padding: 16px 35px;
    border-radius: 35px;
    font-size: 15px;
}

/* O NAS */

.nas-title{
    color: #333333;
    font-size: 48px;
    font-weight: 14;
    margin: 80px 0px 16px 160px;
}

.nas-text{
    color: #333333;
    width: 750px;
    font-size: 13px;
    margin: 0px 0px 16px 160px;
    line-height: 27px;
}

/* GALERYIA */


/* .galeryia{
    position: relative;
}

.galeryia-div{
   position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 50px 45px;
    color: white;
}

.galeryia-li{
    width: 250px;
}

.galeryia-ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
} */

.galeryia {
    position: relative;
    display: inline-block;
}

.galeryia img {
    display: block;
    width: 100%;
    height: auto;
}

.galeryia-div {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 50px 45px;
    color: white;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    pointer-events: none; 
}

.galeryia-ul {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-end;
}

.galeryia-li {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
}

.heroglif {
    width: 250px;
}

